certifi==2020.4.5.1
chardet==3.0.4
coverage==5.1
coveralls==2.0.0
docopt==0.6.2
entrypoints==0.3
flake8==3.7.9
idna==2.9
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
pyTelegramBotAPI==3.7.0
python-dotenv==0.13.0
requests==2.23.0
six==1.14.0
urllib3==1.25.9
